@page
@model agendaModels
<form method="post">
    <h1>Vamos realizar o Cadastro</h1>
  
        <div>
        <label for=""">Digite o seu nome"</label>
        <input type="text" name="nome">
    </div>
        <div>
        <label for=""">Qual Serviços que voce deseja realizar Exemplo:corte,barba"</label>
        <input type="text" name="email">
    </div>
        <div>
        <label for=""">dia que deseja ser atendido"</label>
        <input type="int" name="senha">
    </div>
    <div>
        <label for=""">Qhorario que deseja ser atendido"</label>
        <input type="text" name="nome">

    <button type ="submite">registrar</button>

</form></>