@page
@model cadastroModels
<form method="post">
    <h1>Vamos realizar o Cadastro</h1>
  
        <div>
        <label for=""">Digito o seu nome completo"</label>
        <input type="text" name="nome">
    </div>
        <div>
        <label for=""">Digite um Endereço de email valido"</label>
        <input type="text" name="email">
    </div>
        <div>
        <label for=""">Digite uma senha "</label>
        <input type="password" name="senha">
    </div>

    <button type ="submite">registrar</button>

</form></>